<div class="flex justify-center place-items-center bg-gray-200 p-8 pt-[100px]">
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-yellow-400">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">
        Prueba espacios texto justificado
      </div>
      <p
        class="text-base text-justify -tracking- sm:-tracking-tighter text-gray-700"
      >
        Abarcando de forma extensa los diversos trámites y obligaciones ligadas
        a la prestación de servicios relacionados con las telecomunicaciones y
        la radiodifusión
      </p>

      <div class="justified-text-container">
        <p id="justifiedText" class="justified-text">
          Abarcando de forma extensa los diversos trámites y obligaciones
          ligadas a la prestación de servicios relacionados con las
          telecomunicaciones y la radiodifusión
        </p>
      </div>
    </div>
    <div class="px-6 py-4">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
        >#Etiqueta1</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
        >#Etiqueta2</span
      >
    </div>
  </div>
</div>
